body {
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
    margin-left: 30px;
}

a {
    text-decoration: none;
}

main {
    width: 60%;
    margin-right: 30px;
}

.staf_pick {
    display: flex;
}

.left {
    width: min-content;
    margin-right: 10px;
}
